spring:
  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: none

  redis:
    host: localhost
    port: 6379

  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true

  jackson:
    time-zone: Asia/Seoul

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

  profiles:
    include:
      - s3
      - datasource
      - email
      - import
      - security
      - oauth
#      - ssl

logging:
  level:
    org.springframework.web.cors: INFO
    org:
      springframework:
        security:
          oauth2: DEBUG

springdoc:
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  swagger-ui:
    tags-sorter: alpha
    operations-sorter: method
    doc-expansion: none
    disable-swagger-default-url: true
